.spot-index{
    /* display:inline-flex; */
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    /* aspect-ratio: 2/1; */
    box-sizing: border-box;
    gap: 10px;
}

@media screen and (max-width: 1024px){
    .spot-index{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){
    .spot-index{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px){
    .spot-index{
        grid-template-columns:  1fr;
    }
}
